
body {
  height: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
.form-container {
  width: 300px;
  margin: auto;
}
.outer-area {
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 600px;
  margin: auto;
  background: #1d3557;
}
.auth-link {
  color: #c850c0;
}
.auth-link:hover {
  color: #ffcc70;
}